[user]
  name = hugo
  email = hugowalkersmith@gmail.com
[init]
	defaultbranch = main
[core]
	editor = nvim
  autocrlf = input
[pull]
	rebase = true
[diff]
  algorithm = histogram
[rerere]
  enabled = true
[color]
  ui = auto
[alias]
  logp = log --all --graph --format=format:'%C(yellow)%h%C(reset)%C(auto)%d%C(reset) %s %C(dim white)- %an (%as)%C(reset)'
[url "git@github.com:"]
	insteadOf = https://github.com/
