window {
opacity: 0.95;
background-color: #282a36;
}

#input {
font-size: 18;
font-family: monospace;
border: 1px solid #82aaff;
color: #f8f8f2;
background-color: #44475a;
margin: 0 0 20px 0;
padding: 10px;
}

#inner-box {
background-color: #282a36;
}

#outer-box {
padding: 20px;
border-radius: 5px;
border: 2px solid #82aaff;
background-color: #282a36;
}

#text {
font-size: 18;
font-family: monospace;
border: none;
color: #f8f8f2;
}

#img {
margin: 0 10px 0 0;
}

#entry.activatable #text {
color: #282a36;
}

#entry {
padding: 10px;
color: #f8f8f2;
}

#entry:selected {
background-color: #44475a;
border-radius: 5px;
}

#entry:selected #text {
font-weight: bold;
}
